{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
{{ super() }}
<script>
    var data = {{ room | tojson}};
</script>
{% endblock %}
{% block body %}
{for item in }
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    console.log(data)
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    // verify our websocket connection is established
    socket.on('connect', function () {
        console.log('Websocket connected!');
    });
    // message handler for the 'join_room' channel
    socket.on('join_room', function (msg) {
        console.log(msg);
        window.location = "/" + msg['room']
    });

    socket.on('client_joined', function (msg) {
        console.log(msg);
        console.log("CONNECTED")
    });
    // createGame onclick - emit a message on the 'create' channel to 
    // create a new game with default parameters
    function createGame() {
        console.log('Creating game...');
        socket.emit('create', { size: 1 });
    }
</script>
{% endblock %}